{{ define "base" }} <!-- Permet de préciser que c'est le layout de base-->

<!DOCTYPE html>
<html lang="fr">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/Assets/css/style.css">

   <title> Damien Chabret </title>
</head>

<body>

   <nav>
      <ul>
         <li> <a href="/home"> Accueil </a></li>
         <li> <a href="/me"> Moi </a></li>
         <li> <a href="/experiences"> Experiences </a></li>
         <li> <a href="/projects"> Projets </a></li>
         <li> <a href="/contact"> Contact </a></li>
         <li> <a href="/about"> A propos </a></li>
      </ul>
   </nav>

   <!-- Permet de récupérer le contenu envoyé -->
   {{ block "content" . }}

   {{ end }}

</body>
</html>
{{ end  }}