body {
   background-color: #3e3e42;
   color :white
}

h1{
   color : red
}

/* Format plein écran */
@media (min-width: 480px){
   /* Style de la barre de navigation */
   #navbarMobile, #toggle{
      display: none;
   }

   #navbar{
      vertical-align: top;
   
   }
   
   #navbar ul{
      list-style: none;
      text-decoration: none;
      font-style: none;
      display: flex;
      justify-content: flex-end;
      padding : 10px;
      background-color : rgba(255, 255, 255, 0.3);
      
   }
   
   #navbar a{
      display : block;
      padding : 10px;
      min-width: 20px;
      text-decoration: none;
      color : black;
   }

   #navbar a:hover{
      background-color: white;
   }
}


/* Format mobile */
@media (max-width: 480px){
   #toggle{
      display: none;
   }

   nav {
  position: relative;
  height: 60px;
}

nav .main_pages {
  display: none;
  flex-direction: column;
  background: black;
  height: auto; /* Ajuste la hauteur en fonction du contenu */
  position: absolute;
  top: 60px; /* Ajustez cette valeur selon votre besoin */
  left: 0;
  width: 100%; /* Le menu déroulant occupera toute la largeur de la navbar */
  padding: 0; /* Supprimez le padding par défaut pour les éléments de liste */
  margin: 0; /* Supprimez la marge par défaut pour les éléments de liste */
}

nav .main_pages a {
  display: block;
  text-decoration: none;
  font-style: none;
  color: white;
  padding: 10px; /* Ajoutez un espacement autour des liens pour améliorer la lisibilité */
  text-align: right; /* Centre les liens à droite */
  width: 100%; /* Les liens occuperont toute la largeur du menu déroulant */
  box-sizing: border-box; /* Inclut le padding dans la largeur totale des liens */
}

nav .main_pages a:hover {
  background-color: #3e3e42;
}

label {
  position: relative; /* Ajoutez cette ligne pour créer un contexte d'empilement pour le texte */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: 40px;
  color: white;
  cursor: pointer;
  background-color: black;
}

#toggle:checked + .main_pages {
  display: flex;
}

}

/** fun **/
#nom {
   color : turquoise;
}

#timide {
   color : red;
   float : right;
}