



<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/Assets/css/style.css">
        <link rel="stylesheet" href="/Assets/css/contact.css">
        <script src="https://kit.fontawesome.com/852c895433.js" crossorigin="anonymous"></script>
    
        <title> Damien Chabret </title>
    </head>

    <body>
      {{ template "base" . }} <!-- Utilise le template -->

      {{ define "content" }} <!-- précise que cette page est le "content" -->

      <h1> Contact </h1>
      
      <div id="screen">
        <div id="header">
          <ul id="header-right">
            <li> <i class="fa-solid fa-circle fa-xs" style="color: #d60a0a;"></i></li>
            <li> <i class="fa-solid fa-circle fa-xs" style="color: #ffdf0f;"></i></li>
            <li> <i class="fa-solid fa-circle fa-xs" style="color: #63db00;"></i></li>
          </ul>
          <ul id="header-left"> 
            <li> </li>
          </ul>
        </div>
        <div id="divForm">
          <!-- Information de contact -->
          <div id="contact">
            <p> N'hesitez pas à me contacter au : </p>
            <ul>
              <li> <a> damienchab.p@gmail.com </a></li>
              <li> <a> 06.61.78.26.12 </a></li>
            </ul>
          </div>
  
          <!-- Formulaire -->
          <form method="POST">
              <!-- Information de contact -->
              <div id="information">
                <input type="text" id="nom" name="nom" placeholder="Nom ..."> 
        
                <input type="text" id="mail" name="mail" placeholder="Mail ..."> <br><br>
              </div>
  
              <!-- Objet du context -->
              <input type="text" id="objet" name="objet" placeholder="Objet ..."> <br><br>
  
              <!-- Message -->
              <textarea id="message" placeholder="Message ..."></textarea> <br><br>
  
              <!-- submit -->
              <input type="submit" id="submit" name="submit">
            
          </form>
        </div>
      </div>
      {{ end }}
        
    </body>
</html>
