{{ template "base" . }} <!-- Utilise le template -->

{{ define "content" }} <!-- précise que cette page est le "content" -->

<h1> Contact </h1>

<form method="POST">
   <label for="mail"> Mail : </label><br>
   <input type="text" id="mail" name="mail"> <br><br>

   <label for="objet"> Objet : </label><br>
   <input type="text" id="objet" name="objet"> <br><br>

   <label for="message"> Message : </label> <br>
   <input type="text" id="message" name="message"> <br><br>

   <input type="submit" id="submit" name="submit">
</form>

{{ end }}