{{ template "base" . }} <!-- Utilise le template -->

{{ define "content" }} <!-- précise que cette page est le "content" -->

<h1> Damien chabret </h1>
<p> Bienvenue sur ma page portfolio. Vous pourrez découvrir ici qui je suis, entrez dans mon monde ! </p>

{{ end }}