{{ template "base" . }} <!-- Utilise le template -->

{{ define "content" }} <!-- précise que cette page est le "content" -->

<h1> Damien chabret </h1>
<p> Etudiant en informatique </p>


<!-- 

<p> J'affiche le dictionnaire en entier : {{ index .ListProject }} </p>
<p> J'affiche l'élément "0" du dictionnaire {{ index .ListProject "0"}} </p>
<p> J'affiche le nom de l'élément 0 du dictionnaire : {{ index .ListProject "0" .Name}} </p>

-->


{{ end }}