{{ template "base" . }} <!-- Utilise le template -->

{{ define "content" }} <!-- précise que cette page est le "content" -->


<h1 id="mainTitle"> Damien Chabret </h1>
<p id="context"> Bienvenue sur ma page portfolio. Vous pourrez découvrir ici qui je suis, entrez dans mon monde ! </p>

{{ end }}
